[data-theme='blue'] {
    --color: blue;
    --background: #0029cc;
}

[data-theme='red'] {
    --color: #793455;
    --background: #793455;
}

[data-theme='green'] {
    --color: #83b075;
    --background:  #83b075;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    width: 171px;
    height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--background);
    color: var(--color);

}
span{
    display: block;
    height: 17px;
    width: 111px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 6px;
    color: var(--color);
}
