.loader {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loader path {
    fill: #ABB7E0;
}
.loader path:first-child{
    fill: #ffffff;
}
.loader svg{
    animation: rotate 1s steps(12, end) infinite;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}