.input:focus {
}

.input {
    height: 36px;
    width: 315px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: 0;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    border: 1px solid gray;
    padding-left: 10px;
    font-weight: bold;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {

}

.error {
    color: red;
}
