.radio {
    color: black;
    background-color: black;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
