.App {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hw {
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
}

.hwTitle {
    margin-bottom: 30px;
    margin-top: 47px;
    font-family:'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;

}