.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-top: 12px;
}

.friendText {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FB;
    border-radius: 10px 10px 10px 0;
    position: relative;
    max-width: 650px;
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(70px at top left, transparent 49%, #F5F7FB 50%) no-repeat right bottom;
}

.friendName {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px 0 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}

.friendMessageText {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px 5px 10px;
    font-size: 16px;
    font-weight: 300;
}

.friendTime {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 9px;
    margin-bottom: 24px;
    font-weight: bold;
}
