.sendForm {
    display: flex;
    align-items: center;
    margin-top: 73px;
    gap: 44px;
}

.textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 976px;
    height: 100px;
    border-radius: 20px;
    resize: none;
    line-height: 17px;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 10px;
    background: #F5F7FB;
    box-shadow: 1px 1px 3px gray;
}

.button {
    width: 120px;
    height: 40px;
    background-color: #0066CC;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 19px;
    transition: background-color 0.1s ease;
    box-shadow: 2px 1px 5px gray;
}

.button:hover {
    background-color: #0059b3;

}
.button:active {

}
